{% extends "base.html" %}
{% block extrahead %}
  {{ super() }}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ config.site_name }}">
  <meta property="og:description" content="The Ultimate Rigging Solution in Maya">
  <meta property="og:image" content="{{ 'logos/blue_1200_627b.png' | url }}">
  <meta name="author" content="Thomas Bittner">




<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17506548382">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17506548382');
</script>

{%endblock%}